<app-home></app-home>


<!-- <div skTooltip [tooltipText]='hello' style="margin: 20%;">
    <span> Hover me again </span>

</div> -->


<div style="margin: 20%;" skTooltip [tooltipText]="tooltipText" [position]="position">Hover over
    <!-- <span class="tooltiptext">Tooltip text</span> -->
  </div>

  <div style="margin: 5%;">
    <sk-progress-bar
    [fill]="fill"
    [label] = "label"
    [height]="height"
    [color]="color"
    [striped]="striped"
    [animated]="animated"
    ></sk-progress-bar>
</div>

<div style="margin: 10%;">
    <sk-breadcrumb [menus]="menus"
    [backgroundColor] ="backgroundColor"
    [color]="color"
    [separator]="separator"
    ></sk-breadcrumb>
</div>