<app-home></app-home>


<!-- <div skTooltip [tooltipText]='hello' style="margin: 20%;">
    <span> Hover me again </span>

</div> -->

<!-- 
<div style="margin: 20%;" skTooltip [tooltipText]="tooltipText" [position]="position">Hover over
  </div> -->

  <!-- <div style="margin: 5%;">
    <sk-progress-bar
    [fill]="fill"
    [label] = "label"
    [height]="height"
    [color]="color"
    [striped]="striped"
    [animated]="animated"
    ></sk-progress-bar>
</div> -->

<!-- <div style="margin: 10%;">
    <sk-breadcrumb [menus]="menus"
    [backgroundColor] ="backgroundColor"
    [color]="color"
    [separator]="separator"
    ></sk-breadcrumb>
</div> -->

<div>
<table-container></table-container>

</div>
<div>
    <sk-toast></sk-toast>
</div>

<div>
      <sk-snackbar [show]="show" [message]="message" [position]="position" [displayDuration]="displayDuration" [animation]="animation"
    [animationDuration]=animationDuration></sk-snackbar>
</div>