<table class="table">
    <th *ngFor="let column of displayedColumns "  scope="col">
        {{column}}
    </th>
    <tbody>
        <tr  *ngFor="let data of dataSource | paginate : {start : 0, end: 2} : {activePage :activePage}">
            <th  scope="row"> {{data.position}} </th>
        
            <td> {{data.name}} </td>
            <td> {{data.weight}} </td>
            <td> {{data.symbol}} </td>
        </tr>
    </tbody>

</table>
<span><strong>Current Active Page = </strong> {{activePage}}</span>

<app-paginator [totalRecords]="8" [recordsPerPage]="2" (onPageChange)="displayActivePage($event)"></app-paginator>