<div class="row">
    <div class="col-md-6">
        <ul class="list-group col-md-6" *ngFor="let component of components ">
            <a class="list-group-item list-group-item-action"
                routerLink="{{component.link}}">{{component.name | titlecase}} </a>
        </ul>

    </div>

    <!-- NOTE Completed -->
    <sk-dropdown 
    [data]="data" [name]="name" [icon]="icon"  [disabled]="disabled">
    </sk-dropdown>



<!-- ---Rating component -->
    <sk-rating 
    [rating]="2"
    [stars]=stars [color]=color (getRating)="getRating($event)"></sk-rating>


    <div class="view">
        <router-outlet></router-outlet>

    </div>
</div>




<!-- <div class="wrapper">
    <div class="calendar">
        <div class="month">
            <div class="prev" (click)="moveDate('prev')">
                <span>&#10094;</span>
            </div>
            <div>
                <h2 id="month"></h2>
                <p id="date_str"></p>
            </div>
            <div class="next" (click)="moveDate('next')">
                <span>&#10095;</span>
            </div>
        </div>
        <div class="weekdays">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
        <div class="days" style="    font-weight: 300;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;">

        </div>
    </div>
</div> -->