<div class="row">
    <div class="col-md-6">
        <ul class="list-group col-md-6" *ngFor="let component of components ">
            <a class="list-group-item list-group-item-action" routerLink="{{component.link}}">{{component.name | titlecase}} </a>
        </ul>

    </div>
    <app-content-projection [name]= "shashi">
          <div class="body-content">
                <h2> I want this in body </h2>
            </div>
            <div class="footer-content">
                <p>I want this in footer</p>
            </div> 
    </app-content-projection>


    <div class="view">
        <router-outlet></router-outlet>

    </div>
</div>