<div class="row">
    <div class="col-md-6">
        <ul class="list-group col-md-6" *ngFor="let component of components ">
            <a class="list-group-item list-group-item-action"
                routerLink="{{component.link}}">{{component.name | titlecase}} </a>
        </ul>

    </div>

    <!-- NOTE Completed -->
    <sk-dropdown [data]="data" [name]="name" [icon]="icon" [disabled]="disabled">
    </sk-dropdown>



    <!-- NOTE ---Rating component -->
    <sk-rating [rating]="2" [stars]=stars [color]=color (getRating)="getRating($event)"></sk-rating>


    <!-- NOTE Table component -->

    <app-table [dataSource]=dataSource [displayedColumns]=displayedColumns [pageSizeOptions]="[1, 2, 4]"></app-table>



    <!-- NOTE Tooltip -->
  

    <!-- /  </label> -->

    <!-- <div  >Hover over me
        <span class="tooltiptext">Tooltip text</span>
      </div> -->

    <!-- <div skTooltip
        
        [titleTemplate]="titleTemplate"
        [tooltipTemplate]="template"
        position="right"
        tooltipWidth="400">

        <ng-template #titleTemplate let-anchor>
            {{ anchor.nativeElement.getAttribute("data-name") }}
        </ng-template>
        <ng-template #template let-anchor>
            {{ anchor.nativeElement.getAttribute("data-description") }}
        </ng-template>

        <h2>List of dances</h2>
        <ul *ngFor="let dance of dances">
            <li class="dance"
                [attr.data-name]="dance.danceName"
                [attr.data-description]="dance.description">
                {{ dance.danceName }}
            </li>
        </ul>
    </div> -->

    <div class="view">
        <router-outlet></router-outlet>

    </div>
</div>